<h1>Weather Forecast for <%= @location.name %></h1>
<%# display the name of the location %>

<div class="weather-forecast">
  <% @weather_forecast.each do |forecast| %>
    <div class="forecast-item">
      <p>Date: <%= forecast['date'] %></p>
      <p>Temperature: <%= forecast['temperature'] %>°C</p>
      <p>Description: <%= forecast['description'] %></p>
    </div>
  <% end %>
</div>

<%# generate a link to edit the location using the edit action of the Locations controller %>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%# generate a link to go back to the list of all locations using the index action of the Locations controller %>
<%= link_to 'Back', locations_path %>
